In [1]:
import pandas as pd
df = pd.read_excel(r"D:\python\python-for-excel-1st-edition\python-for-excel-1st-edition\xl\stores.xlsx",
                   sheet_name="2019", skiprows=1, usecols="B:F")
df

           Store  Employees    Manager      Since Flagship
0       New York         10      Sarah 2018-07-20    False
1  San Francisco         12     Neriah 2019-11-02  MISSING
2        Chicago          4    Katelin 2020-01-31      NaN
3         Boston          5  Georgiana 2017-04-01     True
4  Washington DC          3       Evan        NaT    False
5      Las Vegas         11       Paul 2020-01-06    False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Store      6 non-null      object
 1   Employees  6 non-null      int64
 2   Manager    6 non-null      object
 3   Since      5 non-null      datetime64[ns]
 4   Flagship   5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 372.0+ bytes

In [9]:
fix_missing = lambda x: False if x in ["", "MISSING"] else x
df = pd.read_excel(r"D:\python\python-for-excel-1st-edition\python-for-excel-1st-edition\xl\stores.xlsx",
                   sheet_name="2019", skiprows=1, usecols="B:F",
                   converters={"Flagship": fix_missing})
df

           Store  Employees    Manager      Since  Flagship
0       New York         10      Sarah 2018-07-20     False
1  San Francisco         12     Neriah 2019-11-02     False
2        Chicago          4    Katelin 2020-01-31     False
3         Boston          5  Georgiana 2017-04-01      True
4  Washington DC          3       Evan        NaT     False
5      Las Vegas         11       Paul 2020-01-06     False

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Store      6 non-null      object
 1   Employees  6 non-null      int64
 2   Manager    6 non-null      object
 3   Since      5 non-null      datetime64[ns]
 4   Flagship   6 non-null      bool
dtypes: bool(1), datetime64[ns](1), int64(1), object(2)
memory usage: 330.0+ bytes

In [11]:
sheets = pd.read_excel(r"D:\python\python-for-excel-1st-edition\python-for-excel-1st-edition\xl\stores.xlsx",
                       sheet_name=["2019", "2020"],
                       skiprows=1,usecols=["Store", "Employees"])
sheets

{'2019':            Store  Employees
 0       New York         10
 1  San Francisco         12
 2        Chicago          4
 3         Boston          5
 4  Washington DC          3
 5      Las Vegas         11,
 '2020':            Store  Employees
 0       New York         11
 1  San Francisco         10
 2        Chicago          5
 3         Boston          4
 4  Washington DC          7
 5      Las Vegas          8}

In [12]:
sheets["2019"]

           Store  Employees
0       New York         10
1  San Francisco         12
2        Chicago          4
3         Boston          5
4  Washington DC          3
5      Las Vegas         11

In [13]:
df = pd.read_excel(r"D:\python\python-for-excel-1st-edition\python-for-excel-1st-edition\xl\stores.xlsx",
                   sheet_name=0, skiprows=2, skipfooter=3, #skipfooter 跳过表格底部的3行
                   usecols="B:C,F", header=None,
                   names=["Branch", "Employee_Count", "Is_Flagship"])
df

          Branch  Employee_Count Is_Flagship
0       New York              10       False
1  San Francisco              12     MISSING
2        Chicago               4         NaN

In [14]:
df = pd.read_excel(r"D:\python\python-for-excel-1st-edition\python-for-excel-1st-edition\xl\stores.xlsx",
                   sheet_name="2019", skiprows=1, skipfooter=2, #skipfooter 跳过表格底部的3行
                   usecols="B:C,F", header=None,
                   na_values="MISSING", keep_default_na=False) #将默认空值设置为否，则默认空值不显示为NaN，而显示空白
df

               1          2         5
0          Store  Employees  Flagship
1       New York         10     False
2  San Francisco         12       NaN
3        Chicago          4
4         Boston          5      True

In [15]:
with open("output.txt", "w") as f:  #这里的'w'是写入模式；此外还有'a',末尾追加内容模式；'r',读取模式
    f.write("Some text")

In [9]:
with pd.ExcelFile("D:/python/python-for-excel-1st-edition/python-for-excel-1st-edition/xl/stores.xls") as f: #指定文件路径
    df1 = pd.read_excel(f, "2019", skiprows=1, usecols="B:F", nrows=2)
    df2 = pd.read_excel(f, "2020", skiprows=1, usecols="B:F", nrows=2)
df1

           Store  Employees Manager      Since Flagship
0       New York         10   Sarah 2018-07-20    False
1  San Francisco         12  Neriah 2019-11-02  MISSING

In [10]:
stores = pd.ExcelFile("D:/python/python-for-excel-1st-edition/python-for-excel-1st-edition/xl/stores.xls")
stores.sheet_names

['2019', '2020', '2019-2020']

In [18]:
import numpy as np
import datetime as dt

In [19]:
data = [[dt.datetime(2020,1,1, 10, 13), 2.222, 1, True],
        [dt.datetime(2020,1,2), np.nan, 2, False],
        [dt.datetime(2020,1,2), np.inf, 3, True]]
df = pd.DataFrame(data=data,
                  columns=["Dates", "Floats", "Integers", "Booleans"])
df.index.name="Index"
df

                    Dates  Floats  Integers  Booleans
Index
0     2020-01-01 10:13:00   2.222         1      True
1     2020-01-02 00:00:00     NaN         2     False
2     2020-01-02 00:00:00     inf         3      True

In [20]:
df.to_excel("written_with_pandas.xlsx", sheet_name="Output",
            startrow=1, startcol=1, index=True, header=True,
            na_rep="<NA>", inf_rep="<INF>")

In [24]:
with pd.ExcelWriter("written_with_pandas2.xlsx") as writer:
    df.to_excel(writer, sheet_name="Sheet1", startrow=1, startcol=1)#startrow=1 从excel的第二行写入数据;startcol=1则是从第二列写入数据
    df.to_excel(writer, sheet_name="Sheet1", startrow=10, startcol=1)
    df.to_excel(writer, sheet_name="Sheet2")

## 读写excel包

In [22]:
from mypackage import excel
values = excel.read(sheet_object, first_cell="A1", last_cell=None) #shee_object指定读取的工作表名，first_cell指定读取的第一个单元格，last_cell=None意思为读到表格中最后一个非空的单元格
excel.write(sheet_object, values, first_cell="A1")

NameError: name 'sheet_object' is not defined

## OpenPyXL

In [26]:
import pandas as pd 
import openpyxl
from mypackage import excel
import datetime as dt

In [28]:
book = openpyxl.load_workbook("D:/python/python-for-excel-1st-edition/python-for-excel-1st-edition/xl/stores.xlsx", 
                              data_only=True)

In [29]:
sheet = book["2019"]
sheet = book.worksheets[0]
sheet

In [30]:
book.sheetnames

['2019', '2020', '2019-2020']

In [19]:
for i in book.worksheets:
    print(i.title)   #遍历stores表格中所有的sheet

2019
2020
2019-2020

In [20]:
sheet.max_row, sheet.max_column

(8, 6)

In [21]:
sheet["B6"].value

'Boston'

In [22]:
sheet.cell(row=6, column=2).value #此处的row的数字从1开始，openpyxl不一样的地方

'Boston'

In [31]:
data = excel.read(book["2019"],(2, 2), (8, 6))
data[:2]

[['Store', 'Employees', 'Manager', 'Since', 'Flagship'],
 ['New York', 10, 'Sarah', datetime.datetime(2018, 7, 20, 0, 0), False]]

## 使用OpenPyXL写入、编辑文件

In [34]:
import openpyxl
from openpyxl.drawing.image import Image
from openpyxl.chart import BarChart, Reference
from openpyxl.styles import Font, colors
from openpyxl.styles.borders import Border, Side
from openpyxl.styles.alignment import Alignment
from openpyxl.styles.fills import PatternFill
from mypackage import excel

In [36]:
# 实例化工作簿
    #book = openpyxl.Workbook()

#创建第一工作表并赋予名字
    #sheet = book.active
    #sheet.title = "Sheet1"

#读取后缀为xlsm的文件
book = openpyxl.load_workbook("D:/python/python-for-excel-1st-edition/python-for-excel-1st-edition/xl/macro.xlsm",keep_vba=True)
book["Sheet1"]["A1"].value = "Click the button!"
#指定文件的保存路径
file_path = "D:/python/python-for-excel-1st-edition/python-for-excel-1st-edition/xl/macro_openpyxl.xlsm"
book.save(file_path)

## 使用OpenPyXL写入文件

In [41]:
book = openpyxl.Workbook(write_only=True)
sheet = book.create_sheet()
for row in range(1000):
    sheet.append(list(range(200)))
book.save("openpyxl.optimized.xlsx")

In [2]:
from mypackage import parallel_pandas

## 第三方包并行pandas的执行公式

In [4]:
# from mypackage import parallel_pandas
# parallel_pandas.read_excel(filename, sheet_name=None)

## 并行读取excel

In [11]:
%%time
data = pd.read_excel(r"D:\python\python-for-excel-1st-edition\python-for-excel-1st-edition\xl\big.xlsx",
                     sheet_name=None,engine="openpyxl")

CPU times: total: 31.7 s
Wall time: 39.1 s

In [2]:
%%time
from mypackage import parallel_pandas
data = parallel_pandas.read_excel(r"D:\python\python-for-excel-1st-edition\python-for-excel-1st-edition\xl\big.xlsx",
                     sheet_name=None)

CPU times: total: 93.8 ms
Wall time: 11.8 s

In [9]:
data["Sheet1"]

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col191,col192,col193,col194,col195,col196,col197,col198,col199,col200
0,1,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
1,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
2,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
3,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
4,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
4995,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
4996,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
4997,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
4998,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199

## 调整Df在Excel中的格式

In [14]:
with pd.ExcelFile(r"D:\python\python-for-excel-1st-edition\python-for-excel-1st-edition\xl\stores.xlsx",engine="openpyxl") as xlfile:
    df = pd.read_excel(xlfile,sheet_name="2020")
    book = xlfile.book
    sheet = book["2019"]
    value = sheet["B3"].value

In [ ]:
with pd.ExcelWriter()

## 时间序列

In [17]:
import numpy as np
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.standard_normal(6), index=dates)
ts

2011-01-02   -0.938819
2011-01-05    1.806631
2011-01-07    2.086249
2011-01-08    0.335019
2011-01-10    0.756929
2011-01-12    0.532609
dtype: float64

In [18]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [20]:
ts + ts[::2]

2011-01-02   -1.877638
2011-01-05         NaN
2011-01-07    4.172498
2011-01-08         NaN
2011-01-10    1.513858
2011-01-12         NaN
dtype: float64

## Excel自动化

In [3]:
import datetime as dt
import xlwings as xw
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(data=np.random.randn(100, 5),
                  columns=[f"Trial {i}" for i in range(1, 6)])
df

     Trial 1   Trial 2   Trial 3   Trial 4   Trial 5
0   0.919396  0.976872 -0.162493  0.102429 -0.751591
1  -0.014286  1.094054  0.456478 -1.407980  0.198345
2   0.330775 -0.558831 -0.559912  0.094670  1.150525
3   1.222836  0.864444  2.114815  1.368364 -0.299652
4   0.378062  0.110630  1.265577  1.691135  0.935839
..       ...       ...       ...       ...       ...
95  0.341110 -0.217313 -0.140179 -0.454404 -1.263634
96 -0.823854 -0.857395  0.149471 -0.524007 -0.350226
97  2.017581  0.003616 -1.578981 -0.602741  0.947788
98 -0.383615  0.662547 -0.769359  0.419895  1.402623
99  2.099448 -1.002708 -0.186110 -0.458538  0.129905

[100 rows x 5 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Trial 1  100 non-null    float64
 1   Trial 2  100 non-null    float64
 2   Trial 3  100 non-null    float64
 3   Trial 4  100 non-null    float64
 4   Trial 5  100 non-null    float64
dtypes: float64(5)
memory usage: 4.0 KB

In [6]:
xw.view(df)